@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;700&display=swap");

:root {
  --background-color: #212121;
  --section-color: #292929;
  --card-color: #333333;

  --text-color: #fafafa;
  --highlight-color: #ff9800;
  --text-secondary-color: #757575;

  --spacing-base: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;

  --border-radius-base: 4px;
  --border-radius-md: 8px;

  --font-size-base: 12px;
  --font-size-sm: 16px;
  --font-size-md: 24px;
  --font-size-lg: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--text-color);
  font-size: var(--font-size-sm);
  line-height: 24px;
}

html,
body {
  background-color: var(--background-color);
  min-height: 100%;
}

h3 {
  font-size: var(--font-size-md);
  line-height: 28px;
}

h4 {
  font-size: var(--font-size-lg);
  line-height: 32px;
}

h5 {
  font-size: var(--font-size-md);
  line-height: 28px;
}

main {
  max-width: 920px;
  margin: 0 auto;
}

.m-top-xl {
  margin-top: var(--spacing-xl);
}

.highlighteds {
  background-color: var(--section-color);
  display: flex;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-base);
  margin-top: var(--spacing-lg);
  overflow: auto;
}

.highlighteds .item {
  width: 152px;
  display: flex;
  flex-direction: column;
}

.highlighteds .item:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}

.highlighteds .item > img {
  width: 152px;
  height: 240px;
  object-fit: cover;
  border-radius: var(--border-radius-base);
  border: 2px solid var(--highlight-color);
}

.highlighteds .item > span {
  max-width: 100%;
  height: 40px;
  font-size: var(--font-size-base);
  margin-top: var(--spacing-sm);
}

.recent-chapters-list {
  margin: var(--spacing-lg) 0;
}

.recent-chapters-list .item-chapters {
  background-color: var(--card-color);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-base);

  display: flex;
}

.recent-chapters-list .item-chapters:not(:last-of-type) {
  margin-bottom: var(--spacing-sm);
}

.recent-chapters-list .item-chapters > img {
  width: 96px;
  height: 148px;
  object-fit: cover;
  margin-right: var(--spacing-md);
  border-radius: var(--border-radius-base);
  border: 2px solid var(--highlight-color);
}

.recent-chapters-list .item-chapters .content-item-chapters {
  display: flex;
  flex-direction: column;
}

.recent-chapters-list .item-chapters .content-item-chapters > h5 {
  margin-bottom: var(--spacing-base);
}

.recent-chapters-list .item-chapters .content-item-chapters > p {
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-chapters-list .item-chapters .content-item-chapters > div {
  margin-top: auto;
  display: flex;
}

.recent-chapters-list .item-chapters .content-item-chapters .chapter-number {
  background-color: var(--highlight-color);
  padding: var(--spacing-base) var(--spacing-sm);
  border-end-end-radius: var(--border-radius-md);
  border-top-left-radius: var(--border-radius-md);
}

.recent-chapters-list
  .item-chapters
  .content-item-chapters
  .chapter-number:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}
