@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400;700&display=swap");

:root {
  --background-color: #212121;
  --section-color: #424242;

  --text-color: #fafafa;
  --highlight-color: #ff9800;
  --text-secondary-color: #757575;

  --spacing-base: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;

  --border-radius-base: 4px;

  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-title: 24px;
  --font-size-title-large: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--text-color);
  font-size: var(--font-size-normal);
}

html,
body {
  background-color: var(--background-color);
  min-height: 100%;
}

h3 {
  font-size: var(--font-size-title);
  line-height: 28px;
}

h4 {
  font-size: var(--font-size-title-large);
  line-height: 32px;
}

main {
  max-width: 780px;
  margin: 0 auto;
}

.m-top-xl {
  margin-top: var(--spacing-xl);
}

.highlighteds {
  background-color: var(--section-color);
  display: flex;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-base);
  margin-top: var(--spacing-lg);
  overflow: auto;
}

.highlighteds .item {
  width: 110px;
  display: flex;
  flex-direction: column;
}

.highlighteds .item:not(:last-of-type) {
  margin-right: var(--spacing-sm);
}

.highlighteds .item > img {
  width: 110px;
  height: 172px;
  object-fit: cover;
  border-radius: var(--border-radius-base);
  border: 2px solid var(--highlight-color);
}

.highlighteds .item > span {
  max-width: 100%;
  height: 40px;
  font-size: var(--font-size-small);
  margin-top: var(--spacing-sm);
}
